{% extends 'layout/skeleton.twig' %}
{% block content %}
<div id="dvEmpresas">
	<table class="tblTitle">
		<tr>
			<td><span class="spanTitle">EMPRESAS</span></td>
		</tr>
		<tr>
			<td>
				<button class="app-btn b" onclick="inserirAlterarEmpresaSystem(0);" title="nova empresa"><span class="glyphicon glyphicon-plus"></span>&nbsp;NOVA EMPRESA</button>
				<input type="text" id="empresasFilter" size="18" value="" placeholder="FILTRO" />
			</td>
		</tr>
	</table>

	<table id="empresasTbl" class="tblDefault">
		<tr>
			<th>RAZÃO SOCIAL</th>	
			<th>CNPJ</th>
			<th>ENDEREÇO</th>
			<th>CIDADE</th>
			<th>UF</th>
			<th>CEP</th>
			<th></th>
			<th></th>
		</tr>
		{% for obj in empresas %}
		<tr class="empresasTbTr">
			<td>{{ obj.empresa }}</td>
			<td class="formatcnpj">{{ obj.cnpj }}</td>
			<td>{{ obj.endereco }}</td>
			<td>{{ obj.cidade }}</td>
			<td>{{ obj.uf }}</td>
			<td class="formatcep">{{ obj.cep }}</td>
			<td style="text-align: center" onclick="inserirAlterarEmpresaSystem({{ obj.id_empresa }});"><span class="glyphicon glyphicon-edit spanIcon"></span></td>
			<td style="text-align: center" onclick="removerEmpresaSystem({{ obj.id_empresa }});"><span class="glyphicon glyphicon-trash spanIcon"></span></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="js/empresa/empresa.js"></script>
<script>
$("#empresasFilter").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#empresasTbl .empresasTbTr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
</script>
{% endblock %}

