{% extends 'layout/skeleton.twig' %}
{% block content %}
<table class="tblTitle">
	<tr>
		<td><span class="spanTitle">EMAILS</span></td>
	</tr>
</table>
<form id="empresaEmailFrm" onsubmit="return false;" style="margin-right:0.5rem;width:95%;">
	<table class="tblForm">
		<tr>
			<td class="title">EMAIL</td>
			<td><input type="email" id="empresaTxtEmail" size="30" maxlength="50" placeholder="EMAIL" value="" required /></td>
		</tr>
		<tr>
			<td class="title">TIPO CONTATO</td>
			<td>{{ comboTipoContato | raw }}</td>
		</tr>
		<tr>
			<td colspan="2">
				<button class="app-btn b" onclick="salvarEmailEmpresaSystem({{ idEmpresa }});" title="novo email"><span class="glyphicon glyphicon-ok"></span>&nbsp;SALVAR</button>
			</td>
		</tr>
	</table>
	{% if emails|length > 0 %}
		<table class="tblDefault">
			<tr>
				<th>EMAIL</th>	
				<th>TIPO</th>
				<th></th>
			</tr>
			{% for obj in emails %}
			<tr>
				<td class="formattelefone">{{ obj.email }}</td>
				<td>{{ obj.tipo_contato }}</td>
				<td style="text-align: center" onclick="removerTelefoneEmpresaSystem({{ obj.id_email }});"><span class="glyphicon glyphicon-trash spanIcon"></span></td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
</form>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}